<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAo8S9sdjW4Wx0v1KE0eVIzcYBhryE_Qs</string>
	<key>GCM_SENDER_ID</key>
	<string>768173370272</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>fir-example-dcffa</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-example-dcffa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:768173370272:ios:b0d6f40cbf2b12ccc512c5</string>
</dict>
</plist>